.bar-time {
  /* float: left; */
}

.bar-month {
  /* float: left; */
}

svg {
    font: 10px sans-serif;
  }
  
  .bar {
    /* fill: steelblue; */
    clip-path: url(#clip);
  }
    
  .subBar { 
    fill: gray;
    opacity: 0.5;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x-brush .selection {
    stroke: #fff;
    fill: orange;
    fill-opacity: .4;
    shape-rendering: crispEdges;
  }