
svg {
    font: 10px sans-serif;
  }
  
  .bar {
    /* fill: steelblue; */
    clip-path: url(#clip);
  }
    
  .subBar { 
    fill: gray;
    opacity: 0.5;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .brush .selection {
    stroke: #fff;
    fill: steelblue;
    fill-opacity: .25;
    shape-rendering: crispEdges;
  }